{% extends 'halo/base.html' %}


{% load static %}


{% block css %}

  {{ block.super }}

  <link href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel='stylesheet' />
  <link href="{% static 'contrib/c3/css/c3.min.css' %}" rel="stylesheet" />

  <style>
    .content {
      width: 97%;
      margin: 0 auto;
    }
    .map, .time-chart, .events {
      border: 1px solid #333;
      margin: 1em 0;
    }
    .map {
      height: 30em;
    }
    .time-chart {
      height: 30em;
    }
    .leaflet-popup-content {
      color: #333333;
    }
    .leaflet-popup-content .btn .btn-info {
      color: #ffffff;
    }
    .events {
      padding: 1em;
    }
    .c3-axis .tick {
      fill: #666666;
    }
    .bg-danger a {
      color: #ffffff;
      text-decoration: none;
    }
    .bg-danger a:hover {
      text-decoration: underline;
    }
    h2 {
      font-size: 64pt;
      margin: 0.2em;
    }
    .outage {
      cursor: pointer;
    }
  </style>

{% endblock css %}


{% block js_header %}
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <script src="{% static 'contrib/d3/js/d3.min.js' %}"></script>
  <script src="{% static 'contrib/c3/js/c3.min.js' %}"></script>
{% endblock js_header %}


{% block content %}

  <div class="clearfix"></div>

  <div class="col-md-6">
    <h2 class="text-center">{{ name }}</h2>
  </div>

  <div class="col-md-6" style="margin-top: 3em;">
    {% include 'events/form.html' %}
  </div>

  <div class="clearfix"></div>

  <div class="col-md-6">
    <div id="map" class="map"></div>
  </div>
  <div class="col-md-6">
    <div id="events" class="events">
      <h3>Outages</h3>
      {% if not outages or not outages.0.probe_ids %}
        <div class="alert alert-success">Everybody chill: Things are lookin' good. (Right now anyway)</div>
      {% endif %}
      <table class="table table-responsive">
        {% for outage in outages %}
          <tr class="outage bg-{{ outage.probe_ids|yesno:'danger,info,primary' }}" data-probe_ids="{% for probe_id in outage.probe_ids %}{{ probe_id }}{% if not forloop.last %},{% endif %}{% endfor %}">
            <td class="text-nowrap">{{ outage.start_time }}</td>
            <td class="text-nowrap">{{ outage.stop_time }}</td>
            <td>
              {% for probe_id in outage.probe_ids %}
                <a href="https://atlas.ripe.net/probes/{{ probe_id }}/">{{ probe_id }}</a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-xs-12">
    <div id="time-chart" class="time-chart"></div>
  </div>
{% endblock content %}


{% block js_footer %}
  <script>
    var features = {
      "type": "FeatureCollection",
      "features": {{ geography|safe }}
    };
    var connection_log = {{ log|safe }};
  </script>
  <script src="{% static 'events/js/map.js' %}"></script>
  <script src="{% static 'events/js/chart.js' %}"></script>
{% endblock js_footer %}
